:root {
  --coklat: #863427;
  --white: #ffffff;
  --dark: #333333;
}

* {
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link.active {
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link.active {
  background-color: var(--coklat) !important;
}

header.topbar {
  background-color: var(--coklat);
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link li:hover {
  color: var(--coklat) !important;
}

/* button.btn.btn-danger.text-white.delete-cart-item{
    background-color: var(--coklat);
} */

button.btn-info {
  background-color: var(--coklat);
  outline: 0 !important;
  border: 0 !important;
  transition: all 0.2s ease-in-out;
}
button.btn-info:hover {
  background-color: var(--coklat);
  outline: 0 !important;
  border: 0 !important;
  opacity: 0.7 !important;
}
button.btn.btn-info.text-white.px-5 {
  background-color: var(--coklat);
  outline: 0 !important;
  border: 0 !important;
}
